
@{
    ViewBag.Title = "Meals of a Feather Map";
}

<link href="http://fonts.googleapis.com/css?family=Ubuntu:300,400" rel="stylesheet" type="text/css">

<script type="text/javascript" src="@Url.Content("~/Scripts/MapScripts/gmap.js")"></script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACj6RUncRFQjEliRV1T2Woo5STTqO2gRs&callback=initialize">
</script>


<div class="page-header">
    <h1>Area Map</h1>
</div>

<div class="row">
    <div class="col-sm-12">
        <label>Search parameter<input type="text" /></label>
    </div>
</div>

<hr />

<div class="row" id="map-wrapper">
    <div class="col-sm-12">
       <div id="map_canvas" style="height:400px;"></div>
    </div>
</div>

<div class="row hidden" id="extra-info-wrapper" style="margin-top: 20px;">
    <div class="col-sm-12">
        Extra information about the selected institutions.
    </div>
</div>

